/*
## SCSS ARROWS
*/
@mixin sass-arrow-create($size, $color, $border-width, $border-color, $position1, $value1, $position2, $value2) {
    $arrayPosition: "top", "right", "bottom", "left";
    position: relative;
    background: $color;
    border: $border-width solid $border-color;

    &:after, &:before {

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position1 ) {
                #{$prefix}: $value1;
            }
        }

        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

    }

    &:after {

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position1 ) {
                border-#{$prefix}-color: $color;
            }
        }

        border-width: $size;

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position2 ) {
                #{$prefix}: $value2;
            }
        }

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position2 ) {
                margin-#{$prefix}: 0px - $size;
            }
        }

    }

    &:before {

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position1 ) {
                border-#{$prefix}-color: $border-color;
            }
        }

        border-width: $size + round(1.41421356 * $border-width);

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position2 ) {
                #{$prefix}: $value2;
            }
        }

        @each $prefix in $arrayPosition {
            @if ( $prefix == $position2 ) {
                margin-#{$prefix}: 0px - ($size + round(1.41421356 * $border-width));
            }
        }

    }
}

@mixin sass-arrow($position, $size, $color, $border-width, $border-color){

    @if ($position == top) {
        @include sass-arrow-create($size, $color, $border-width, $border-color, bottom, 100%, left, 50%);
    }

    @elseif ($position == right) {
        @include sass-arrow-create($size, $color, $border-width, $border-color, left, 100%, top, 50%);
    }

    @elseif ($position == bottom) {
        @include sass-arrow-create($size, $color, $border-width, $border-color, top, 100%, left, 50%);
    }

    @elseif ($position == left) {
        @include sass-arrow-create($size, $color, $border-width, $border-color, right, 100%, top, 50%);
    }

}